/* ======================================== CircularProgressbar ======================================== */

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--color-primary);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: none;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: var(--color-info-dark);
  font-size: 14px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: var(--color-background);
}

.CircularProgressbar.CircularProgressbar-inverted
  .CircularProgressbar-background {
  fill: var(--color-primary);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: var(--color-white);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: var(--color-white);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
